%h1 Listing expenses

%table
  %tr
    %th User
    %th Amount
    %th Date
    %th For
    %th
    %th
    %th

  - @expenses.each do |expense|
    %tr
      %td= expense.user_id
      %td= expense.amount
      %td= expense.date
      %td= expense.for
      %td= link_to 'Show', expense
      %td= link_to 'Edit', edit_expense_path(expense)
      %td= link_to 'Destroy', expense, :confirm => 'Are you sure?', :method => :delete

%br

= link_to 'New Expense', new_expense_path
