-content_for :header do
  %h1= @expense.for
  = link_to 'Edit', edit_expense_path(@expense), 'data-icon' => 'gear', :class => 'ui-btn-right'

%p#notice= notice

%p
  %b Whodunnit:
  = @expense.user.email
%p
  %b To the tune of:
  = "$#{@expense.amount}"
%p
  %b When:
  = @expense.date.strftime('%m/%d/%Y')



